.data-grid-container .MuiDataGrid-footerContainer {
  display: none;

}
.pendingOrder_wrapper{
    height: 43vh;
    width: 100%;
    margin-top:-2rem;
    background-color: #141e2f;
    color: #fff;
    border-radius: 1rem;
}
.pending_text{
    padding: 1rem 0 0 1rem;
}