.Cards {
  display: flex;
  background-color: #141e2f;
  padding: 1.5rem 0;
  border-radius: 10px;
  margin-top: -1rem;
}
.parentContainer{
  width: 100%;
  display: flex;
  gap: 0;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .Cards {
    flex-direction: column;
    width: 100% !important;
  }
  .parentContainer {
    height: 9rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .Cards {
    width: 90%;
  }
}
