.footer_wrapper {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: rgb(216, 238, 233);
    right: 0;
    left: 0;
    justify-content: center;
  }
  