.footer_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    bottom: 0;
    justify-content: center;
    width:95vw;
    border-radius:10px;
    
    margin-right:-10px;
    background-color: #141e2f;
   
   
  }
  